@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.App > div {
  flex: 0.5;
}

/* .App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
} */
.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
  flex: 0.5;
  height: 100%;
}
.editor-class {
  padding: 1rem;
  border: 1px solid #ccc;
  height: 100vh;
}
.toolbar-class {
  border: 1px solid #ccc;
}
.preview {
  padding: 1rem;
  margin-top: 1rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
